.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0rem;
  background-color: #f9f9f9;
}


h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #630031;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
p {
  color: #630031;
}